@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <div class="col-lg-6">
        <p class="text-lg-start">A ticket system is important for the IT department and technical support because it helps manage all requests, problems, and issues in the company’s technology in an organized way. This system makes it easy to track each case and solve them on time. It also helps improve communication between the support team and the users, making sure each request gets the right attention based on its importance and difficulty. A ticket system helps record and understand repeated problems, which helps improve the service and prevent future issues. This not only makes the IT team more productive but also makes the users happy with fast and clear support.</p>
    </div>
    <div class="col-lg-6 mt-5">
        <a href="/Ticket/Create" class="btn btn-lg btn-primary">New Ticket</a>
        <a href="/Ticket/Index" class="btn btn-lg btn-info">Index</a>
    </div>
</div>
